{% load static %}

<div class="widget follow-us">
    <h3 class="widget-title">
        Check Out
    </h3>
    <!-- class="follow-container" -->
    <div class="follow-container">
        <a href="https://github.com/hosseinch0"><img src="{% static 'assets/img/github.png' %}"></a>
        <a href="https://t.me/HOCH2002"><img src="{% static 'assets/img/telegram.png' %}"></a>
        <a href="https://www.instagram.com/hossein_ch02/"><img src="{% static 'assets/img/instagram.png' %}"></a>
        <a href="#"><img src="{% static 'assets/img/youtube.png' %}" height="60px"></a>
    </div>
    <div class="clearfix"></div>
</div>